<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" routerLink="home">Mitchell Marshe</a>

    <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="resume">Resume</a>
            </li>

            <li class="nav-item dropdown">
                <a 
                    class="nav-link dropdown-toggle" 
                    href="#" 
                    id="navbarDropdown" 
                    role="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    Software
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://thegroovybuffalos.itch.io/extrication" target="_blank">Extrication</a>
                    <a class="dropdown-item" href="http://www.gameframe.online:2501/" target="_blank">GameFrame.Online</a>
                    <a class="dropdown-item" href="https://github.com/mitchellmarshe/unityprojects" target="_blank">Unity Projects</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a 
                    class="nav-link dropdown-toggle" 
                    href="#" 
                    id="navbarDropdown" 
                    role="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    Architecture
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="nestor">An Architectural Perspective of the Palace of Nestor</a>
                    <a class="dropdown-item" routerLink="buttress">The Flying Buttress System of Gothic Cathedrals</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a 
                    class="nav-link dropdown-toggle" 
                    href="#" 
                    id="navbarDropdown" 
                    role="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    Blogs
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://cs373mitchellmarshe.wordpress.com/" target="_blank">CS 373 Spring 2018</a>
                    <a class="dropdown-item" href="https://mitchellmarshe.wordpress.com/" target="_blank">Marshe Information Studies</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
