<p>buttress works!</p>

<!---

<div style={{backgroundColor: 'white', width: '100%', height: '5000px'}}> 
        <div style={{position: 'absolute', left: '10%', margin: '20px 0px 20px 0px', display: 'flex', backgroundColor: 'white', width: '80%', height: '5000px', boxShadow: '10px 10px 5px grey'}}>
          <div style={{padding: '40px 40px 40px 40px'}}>
            <h1>
              The Flying Buttress System of Gothic Cathedrals
            </h1>
            <div>
              <h2>
                Written by Mitchell Roger Marshe, on April 19, 2016
              </h2>
              <div style={ArticleStyles.Hr} />
              <div>
                <p style={ArticleStyles.LineIndent}>
                  It is widely accepted among scholars that Abbot Suger of St. Denis’ Abbey, in Ile-de-France, is the creator of the Gothic cathedral 
                  style. It is with his renovations of the Romanesque St. Denis Abbey’s choir through the years 1140-1144 that set the Gothic style 
                  in stone. This choir features ribbed vaults and multistoried stain glass windows that let in massive amounts of light compared to 
                  the bulky and dark Romanesque style of churches. Abbot Suger’s intentions were to create a house of God, a place of divine light 
                  that represents heaven for mankind. But all of this could not have happened if it weren’t for the invention of the flying buttress. 
                  In essence, the flying buttress is a massive pier with a half arch made of stone blocks that connect to the side of a cathedral 
                  wall where on the other side of the wall is the lower part of a groin vault or pointed arch. The flying buttress allows stone 
                  walls to be thinner, taller, and contain more voids with glass because this architectural device pushes against the cathedral 
                  walls in opposite of thrusts forces from the weight of the stone groin vaults and massive wooden trusses.<sup>1</sup> Over the 
                  centuries, the flying buttress has been much of an experiment out of the disasters with its implementation of form and style in 
                  efforts to keep up with the demand of building taller Gothic cathedrals. 
                </p>
                <div class="card" style={ArticleStyles.ImageLeft}>
                  <img class="card-img-top" src={require("C:/Users/mitch/Desktop/portfolio/src/images/st-denis.jpg")} alt="St-Denis" />
                  <div class="card-body">
                    <h4 class="card-title"> Fig. 1</h4>
                    <p class="card-text">
                      The Courtauld Institute of Art, London, "Abbaye De Saint-Denis," Digital image.
                    </p>
                  </div>
                </div>
                <p style={ArticleStyles.LineIndent}>
                  The earliest form of the flying buttress is that of simple massive piers that extend from the outer walls of aisles while the 
                  upper part of the piers jets out a thin half arch into the outer walls of the nave. This form of the flying buttress appears at 
                  St. Denis’ Abbey and in other Gothic cathedrals until 1175, where the form stops at St. Remi, in Reims, France. Both St. Denis’ 
                  Abbey and St. Remi have similar flying buttresses on the outer walls of the choir; therefore, I will focus on St. Denis’ Abbey 
                  as it is the start of the Gothic architecture. Towards the left is an image of St. Denis Abbey’s flying buttresses that radiate 
                  around the choir forming an exoskeleton. In the bottom-right, there is a man hunching over. His width is about the thickness of 
                  one of these buttress piers. Also observe that the spanning of the flyer is proportional to the width of the piers by the 
                  Golden Ratio. Lastly, geometry and physics play a critical role into the placement of each buttress as each relate to the 
                  alignment and lateral stress load from the pointed arches of the ribbed vault underneath the conical part of the roof.<sup>2</sup>
                </p>
                <div style={{overflow: 'auto'}}>
                  <p style={ArticleStyles.BlockIndent}>
                    <div style={ArticleStyles.HangLineIndent}>
                      1. Christopher Wilson, The Gothic Cathedral: The Architecture of the Great Church (London: Thames and Hudson, 1990), p. 52-4.
                    </div>
                  </p>
                </div>
                <p style={ArticleStyles.LineIndent}>
                  To me this is quite an impressive structure overall because of the balancing of heavy limestone stone, symmetrical design and 
                  gallery of stain glass windows, however, critics of Abbot Suger, differ in view. Some people criticized the use of the flying 
                  buttress as being a barbaric form of architecture that doesn’t conceal its structure and present beauty. Thus, the critics 
                  coined this style of architecture as Gothic after the barbaric Goths.<sup>2</sup> As the decades passed by, it seems as though 
                  this style of architecture was proving itself to be barbaric in the ways that many of these grand cathedrals had severe 
                  structural instability.
                </p>
                <p style={ArticleStyles.BlockIndent}>
                  <div style={ArticleStyles.HangLineIndent}>
                    2. Malcolm Hislop, How to Build a Cathedral: Constructing the Story of a Medieval Masterpiece (New York: Metro Books & Ivy Press, 
                    2012), p. 64-9.
                  </div>
                </p>
                <p style={ArticleStyles.LineIndent}>
                  The major structural issues that arose in these cathedrals were the poor placement of buttresses, the long construction periods 
                  where many different architects employed new master plans over the existing site, and the enviable need to maintenance the 
                  cathedral over time due to weather damages on the limestone and wood supporting systems. Before I depart, St. Denis’ Abbey, 
                  I’d like to point out that its flying buttress features a second flyer and a nonfunctioning pinnacle, which is that ornate 
                  piece of stone at the top of the pier. These two features were employed over the centuries as St. Denis’ Abbey was beginning 
                  to sink and twist into the ground from the massive stresses from the heavy vaults. 
                </p>
                <p style={ArticleStyles.LineIndent}>
                  The second flyer and pinnacle are modifications of the Gothic buttress system in the second phase of its form and style where 
                  double flyers and piers are used in the cathedrals throughout the years, 1200-1350. One of the best documented and grand 
                  cathedrals of this period is Amiens Cathedral in France (Fig. 2). Here at Amiens, the cathedral boasts two double aisles and 
                  a massive central nave that soars well over 300 feet with many ribbed vaults weighing in at 20 tons. To keep this cathedral 
                  from toppling over, the use of double flyers and buttress piers with pinnacles are employed here. The flyers are open arcades 
                  of scaling gothic arches within two flyers. The double piers are dressed with columns, niches, and gable roofs.<sup>3</sup> In 
                  addition, the piers have pinnacles which are the upward extension that resemble much like a capital to a column. These 
                  pinnacles are highly decorative, but serve a functional purpose of stabilizing the piers from shifting over from the stresses 
                  of the ribbed vaults.<sup>4</sup>
                </p>
                <p style={ArticleStyles.BlockIndent}>
                  <div style={ArticleStyles.HangLineIndent}>
                    3. Jacques Heyman, Arches, Vaults and Buttresses: Masonry Structures and Their Engineering (Hampshire: Variorum, 1996), p. 156-7.
                  </div>
                  <div style={ArticleStyles.HangLineIndent}>
                    4. Heyman, The Stone Skeleton: Structural Engineering of Masonry Architecture (Cambridge: Cambridge University Press, 1995), 
                    p. 88-91.
                  </div>
                </p>
                <div class="card" style={ArticleStyles.ImageRight}>
                  <img class="card-img-top" src={require("C:/Users/mitch/Desktop/portfolio/src/images/flyer-section.jpg")} alt="Amiens Flyer Section" />
                  <div class="card-body">
                    <h4 class="card-title"> Fig. 2</h4>
                    <p class="card-text">
                      Dr. Franklin Toker, "Transverse Section Through Choir," Digital image.
                    </p>
                  </div>
                </div>
                <p style={ArticleStyles.LineIndent}>
                  According to the manuscripts and blueprints of Amiens Cathedral which have been respectively translated by many scholars and 
                  interpreted by architects and engineers, the key to balancing the cathedral is through the consideration of where thrusts 
                  occur in the structure and also synchronizing construction of both sides of the cathedral. Jacques Heyman is an engineer 
                  and professor at the University of Cambridge, who over the many years has studied the structural features of the Gothic 
                  cathedrals and written the two books, The Stone Skeleton, and Arches, Vaults, and Buttresses. In these two books, Heyman 
                  explains that in order to make a proper flyer and buttress requires the upmost proportional and symmetrical design to 
                  carry various thrust loads into the ground, but also the whole system must resist wind forces. He says that the stability 
                  in Gothic cathedrals comes from the massing of the pier and that the double pier system greatly helps in separating the 
                  loads of stress from the groin vaults but also resists wind forces that wane the building back and forth. Whereas, the 
                  double flyers connect the piers to the nave with an arc that carries two different thrust forces. The upper flyers send 
                  the thrust forces from the trusses of the roof at a 45-degree angle down towards the two piers. While the lower flyers 
                  carry the outwards forces from the groin vault into an arc that passing through each pier and into the ground. If the 
                  alignment of the flyers to the connecting vault is off, then the thrusting forces never reach the ground which is very 
                  problematic in Gothic cathedrals because many have fallen, such as Beauvais Cathedral, due to this error of construction.<sup>5</sup>
                </p>
                <div style={{overflow: 'auto'}}>
                  <p style={ArticleStyles.BlockIndent}>
                    <div style={ArticleStyles.HangLineIndent}> 
                      5. Heyman, Arches, Vaults and Buttresses, p. 148-156.
                    </div>
                  </p>
                </div>
                <p style={ArticleStyles.LineIndent}>
                  Under medieval archeologist, Malcolm Hislop’s work, How to Build a Cathedral, he briefly explores Amiens Cathedral’s flaw of the 
                  flyers being offline with the massive vaults and that the only reason why Amiens isn’t a ruin like Beauvais Cathedral is because 
                  of its careful construction and upkeep. Amiens Cathedral’s buttresses were built simultaneously alongside the walls of the 
                  cathedral. These buttresses are made from hand cut blocks of limestone which were quarried from the finest reserves. Whereas the 
                  flying buttresses of Beauvais Cathedral are poorly made of weak limestone and were built in sections over time (Fig. 3). At both 
                  cathedrals, stoneworkers would erect scaffolding and then hoist these 100-pound blocks into place using pulleys and the human 
                  crank wheel. After each stone was in place, the stonemasons would check that the pier of the buttress or flyer are leveled and 
                  aligned properly according to the plan. When new sections of the buttresses were being finished, Hislop speculates that the 
                  architects and engineers were praying that nothing would collapse because much of their designs are experimental and just pure 
                  ambition to build the next tallest cathedral.<sup>6</sup>
                </p>
                <p style={ArticleStyles.LineIndent}>
                  Luckily for Amiens, its intact to this day, but many renovations have occurred since 1270. For instance, an extra set of double 
                  flyers are placed slightly lower than the old set to handle the forces from the vaults that were once never dealt with. Besides this 
                  slight addition, Amiens is constantly being repaired and refinished. As the old saying goes: “cathedrals are never truly finished.” <sup>6</sup>
                </p>
                <div class="card" style={ArticleStyles.ImageLeft}>
                  <img class="card-img-top" src={require("C:/Users/mitch/Desktop/portfolio/src/images/beauvais.jpg")} alt="Beauvais" />
                  <div class="card-body">
                    <h4 class="card-title"> Fig. 3</h4>
                    <p class="card-text">
                      Pepijntje, "Beauvais Cathedral From the East," Digital image.
                    </p>
                  </div>
                </div>
                <div style={{overflow: 'auto'}}>
                  <p style={ArticleStyles.BlockIndent}>
                    <div style={ArticleStyles.HangLineIndent}> 
                      6. Hislop. p. 66-9.
                    </div>
                  </p>
                </div>
                <p style={ArticleStyles.LineIndent}>
                  This seems to be the case at Beauvais Cathedral because only the choir is finished out. However, in 1284, the transept failed and collapsed upon 
                  itself after standing for 12 years at well over 350 feet.  The failure is the result of poor materials, unorganized construction and that the 
                  flyers were unaligned with the large vault over the transept.<sup>7</sup> Today, Beauvais Cathedral is under constant threat of collapsing into 
                  complete ruins. Engineers have built many wooden scaffolds and buttresses inside while also adding iron chain bands around the outside of the 
                  remaining buttresses that still hold. Along with the maintenance are the daily prayers from brave priests, who hope that Beauvais Cathedral 
                  doesn’t parish as it is their piece of heaven. 
                </p>
                <p style={ArticleStyles.LineIndent}>
                  Towards the end of the Gothic era, cathedrals were becoming more ornate overall and so were the flying buttresses in hopes of creating a place 
                  of heaven and light. Throughout the years 1350-1500, more complicated cathedrals, such as Westminster Abbey, have a double buttress with a 
                  triple flyer, each connecting to either a fan vault or truss. Also at Westminster Abbey is the Lady’s Chapel which features a double flying 
                  buttress with scaling medallions while on the upper flyer has sculptures of gargoyles. Finally, the piers have niches with sculptures of saints 
                  and gargoyles with spouts that are early forms of a gutter system to keep the limestone from wearing down so much.<sup>7</sup> 
                </p>
                <div class="card" style={ArticleStyles.ImageRight}>
                  <img class="card-img-top" src={require("C:/Users/mitch/Desktop/portfolio/src/images/westminster.jpg")} alt="Westminster" />
                  <div class="card-body">
                    <h4 class="card-title"> Fig. 4</h4>
                    <p class="card-text">
                      James Brittain, "Westminster Abbey, London, United Kingdom. Architect: Several, 1745. Walkway, Flying Buttress, The Lady 
                      Chapel." Digital image.
                    </p>
                  </div>
                </div>
                <div style={{overflow: 'auto'}}>
                  <p style={ArticleStyles.BlockIndent}>
                    <div style={ArticleStyles.HangLineIndent}>
                      7. Heyman, p. 91-157.
                    </div>
                  </p>
                </div>
                <p style={ArticleStyles.LineIndent}>
                  The flying buttress over the many centuries of the Gothic era has proven to be a costly experimental architectural element that 
                  made building tall luminous cathedrals possible. From the beginning to the end of the Gothic style, flying buttresses transformed 
                  from a simple functioning mass to an ornate and admirable piece of stonework. Throughout the evolution of the flying buttresses, 
                  architects and stonemasons prayed that their designs work in the hast of building the next tallest and grandest cathedral among 
                  their neighbors. But no matter what they did, the flying buttress did not quite solve the physic problems of the cathedral. By 
                  the 1400s, cathedral builders employed iron chains inside the central nave from one column to the next to hold the inner thrusts 
                  of the structure from caving in. Even this effort isn’t enough to make cathedrals of the late Gothic era sound because the ornate 
                  features of the limestone cathedrals and buttress systems created a massive surface area for further deterioration. This and other 
                  problems of cathedral design pertaining mainly towards the buttress system diminished the uses of it.<sup>8</sup> Despite the 
                  failures of the flying buttress system, if it weren’t for Abbot Suger’s vision of St. Denis’ Abbey, then perhaps today we would 
                  not have skyscrapers.
                </p>
                <div style={{overflow: 'auto'}}>
                  <p style={ArticleStyles.BlockIndent}>
                    <div style={ArticleStyles.HangLineIndent}>
                      8. Robert Bork, Robert Mark, and Stephen Murray, "The Openwork Flying Buttresses of Amiens Cathedral: "Postmodern Gothic" 
                      and the Limits of Structural Rationalism," Journal of the Society of Architectural Historians 56 (1997): 478-93.
                    </div>
                  </p>
                </div>
                <div style={{overflow: 'auto'}}>
                  <div style={ArticleStyles.Hr} />
                </div>
                <h3>
                  Bibliography
                </h3>
                <p style={ArticleStyles.ParagraphIndent}>
                  <div style={ArticleStyles.HangLineIndent}>
                    Bork, Robert, Robert Mark, and Stephen Murray. "The Openwork Flying Buttresses of Amiens Cathedral: "Postmodern Gothic" and 
                    the Limits of Structural Rationalism." Journal of the Society of Architectural Historians 56 (December 1997): 478-93. Accessed 
                    April 17, 2016. Jstor.
                  </div>
                  <br />
                  <div style={ArticleStyles.HangLineIndent}>
                    Heyman, Jacques. Arches, Vaults and Buttresses: Masonry Structures and Their Engineering. Hampshire: Variorum, 1996.
                  </div>
                  <br />
                  <div style={ArticleStyles.HangLineIndent}>
                    Heyman, Jacques. The Stone Skeleton: Structural Engineering of Masonry Architecture. Cambridge: Cambridge University Press, 1995.
                  </div>
                  <br />
                  <div style={ArticleStyles.HangLineIndent}>
                    Hislop, Malcolm. How to Build a Cathedral: Constructing the Story of a Medieval Masterpiece. New York: Metro Books by Arrangement 
                    with Ivy Press, 2012.
                  </div>
                  <br />
                  <div style={ArticleStyles.HangLineIndent}>
                    Wilson, Christopher. The Gothic Cathedral: The Architecture of the Great Church. London: Thames and Hudson, 1990.
                  </div>
                </p>
                <h3>
                  Images
                </h3>
                <p style={ArticleStyles.ParagraphIndent}>
                  <div style={ArticleStyles.HangLineIndent}>
                    Brittain, James. "Westminster Abbey, London, United Kingdom. Architect: Several, 1745. Walkway, Flying Buttress, The Lady Chapel." 
                    Digital image. Alamy.com. February 02, 2010. Accessed April 19, 2016.
                  </div>
                  <br />
                  <div style={ArticleStyles.HangLineIndent}>
                    The Courtauld Institute of Art, London. "Abbaye De Saint-Denis." Digital image. Courtauldprints.com. Accessed April 19, 2016.
                  </div>
                  <br />
                  <div style={ArticleStyles.HangLineIndent}>
                    Toker, Franklin, Dr. "Transverse Section Through Choir." Digital image. Pitt.edu. Accessed April 19, 2016.
                  </div>
                  <br />
                  <div style={ArticleStyles.HangLineIndent}>
                    Pepijntje. "Beauvais Cathedral From the East." Digital image. Wikipedia.org. October 06, 2007. Accessed April 19, 2016.
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


-->
