<div style="background-color: 'white'; width: '100%'; height: '5000px'"> 
    <div style="position: 'absolute'; left: '10%'; margin: '20px 0px 20px 0px'; display: 'flex'; background-color: 'white'; width: '80%'; height: '5000px'; box-shadow: '10px 10px 5px grey'">
        <div style="padding: '40px 40px 40px 40px'">
            <h1>
              An Architectural Perspective of the Palace of Nestor
            </h1>

            <div>
              <h2>
                Written by Mitchell Roger Marshe, on March 5, 2016
              </h2>

              <div class="Hr"></div>

              <div>
                <p class="LineIndent">
                  A top a hill overlooking the Navarino Bay, lay the remains of an ancient Mycenaean palace that was the epicenter of government, 
                  trade, and religion to the Messenia region during the Bronze Age. This site is called the Palace of Nestor at Pylos; its discovery 
                  came about in 1939 when archeologist, Carl W. Blegen scoured the hill of Epano Englianos with his colleges in search of the home to 
                  the buried Mycenaean royalists in a nearby tholos. What has been recovered at the Palace of Nestor is the stone foundations and 
                  footings of the exterior and interior walls. This leftover footprint shows a megaron structure housing a throne room. Around the 
                  megaron are many rectilinear rooms accessible by hallways and doorways. Inside these rooms are intact bronze trading seals, 
                  clay-painted pottery, stone Linear B tablets, or fragments of frescos that covered the walls.<sup>1</sup> With these artifacts 
                  we are able to gather insight into this advanced civilization’s palace architecture in terms of structure, function, and experience.
                </p>

                <p class="LineIndent">
                  The structure of the Palace of Nestor is heavily influenced by Egyptian and Minoan architecture concepts that are employed around 
                  a megaron in a centralized plan that emphasizes organization, flow, and defense. The entrance to the palace, rooms 1 and 2, most 
                  likely looked like an Egyptian propylon modified with a second story covered balcony that shades a double portico entryway. This 
                  is speculated by the remnants of three 1-meter-thick walls intersecting each other in the shape of an H, where the midsection has 
                  a doorway aligned in-between two columns.<sup>2</sup>
                </p>

                <p class="BlockIndent">
                  <i>
                    From here on, rooms with numbers are references to the Nestor Legend and Site Plan down below.
                  </i>
                  <br>
                  <br>
                  <!---
                  <div class="HangLineIndent">
                    1. Lisa M. Bendall, The Encyclopedia of Ancient History: Pylos (Malden, MA: Wiley-Blackwell, 2013).
                  </div>
                    --->
                </p>

                <p>
                  The design of this entryway is very defensive because armored guards underneath the porticos and in the balcony are protected from 
                  the heat of the sun, allowing them to stay vigilant. Furthermore, this entryway is also near the barracks (rooms 55-7).
                </p>

                <p class="LineIndent">
                  Past the entrance is the footprint of a megaron which acts as the heart of the Palace of Nestor by guiding human traffic towards 
                  the throne room. At the front of the megaron is a grand portico (room 4) that leads into a grand vestibule (room 5) which leads 
                  into the throne room (room 6). The grand vestibule also has doorways that lead into the left and right wings and stairwells of 
                  the palace. This allows authorized personnel to access the throne room easily while making access for intruders much harder since 
                  the vestibule and portico would have had guards.<sup>2</sup>
                </p>

                <p class="LineIndent">
                  The throne room is by far the most protected and grander of any room present at the palace. The megaron that protects this throne 
                  room is 1.5-meter-thick of stacked rubble once reinforced with vertical and horizontal timbers and finished with frescos. At the 
                  center of the throne room is an 8” raised ceremonial hearth made of clay and stucco. Around the hearth are four column bases that 
                  had wooden and plaster shafts with 64-flutes capped by Minoan style capitals. The flooring had gridded sets of colorful tiles with 
                  patterns. The ceiling was coffered with painted wooden beams and inset with colorful tiles. Above the hearth was a second story 
                  overlooking balcony. The second floor had two terracotta pipe flumes to exhaust the fumes from the hearth below.<sup>2</sup>
                </p>

                <p class="BlockIndent">
                    <!-----
                  <div class="HangLineIndent">
                    2. Carl W. Blegen, et al., A Guide to the Palace of Nestor: Mycenaean Sites in its Environs and the Chora Museum 
                    (Princeton, NJ; American School of Classical Studies at Athens, 2001), 8-9.
                  </div>
                  --->
                </p>

                <p class="LineIndent">
                  Around the megaron are the remains of many storage rooms. These storage rooms seem to be organized by the type of items they once 
                  stored. In the left wing are smaller storage rooms with clay dishware. In the opposite wing, there are larger storage rooms that 
                  stored perfumes in small clay vases. Towards the back of the megaron are rooms filled with large clay jugs containing the residue 
                  of olive oil.<sup>3</sup> All of these storage rooms once had freestanding wooden shelves and working drain holes through the 
                  stucco pitched flooring.<sup>4</sup> The exterior walls of these storage rooms were made of square cut limestone blocks finished 
                  in plaster.<sup>3</sup> These unique and borrowed architecture concepts is what structures the Palace of Nestor.
                </p>

                <p class="LineIndent">
                  Overall the Palace of Nestor functioned as a place of government, trade, and ritualistic site for the Messenia region. The palace 
                  is situated at the pinnacle of Pylos alongside the Old Palace and the Workshop which all face the water towards the northwest and 
                  all connect to southern and northern routes. From these routes people would travel to the Palace of Nestor for trade, religious 
                  festivities, or government affairs. These functions are carried out in the palace’s throne room, archives, courtyards, and storage 
                  rooms.
                </p>

                <p class="LineIndent">
                  The throne room was where the King conducted business and ritualistic sacrifice to the Gods. Before entering the throne room (6), 
                  a guest of business would of have waited in the grand vestibule (room 5) with sentry guards. Once inside the throne room, one could 
                  speak to the King about trade or what-have-you. Otherwise, the throne room was a place of ritualistic affair for the King. Here, 
                  there is a ceremonial hearth in the center.
                </p>

                <p class="BlockIndent">
                    <!---
                  <div class="HangLineIndent">
                    3. Blegen, 20.
                  </div>
                  <div class="HangLineIndent">
                    4. Jorg Westerburg, "A Different View," The Reconstruction of the Northeast Building at Pylos (2000), 6-7.
                  </div>
                  --->
                </p>

                <p>
                  Next to the hearth is an offering alter and towards the right of the room is the throne. Left of the throne is a V-shaped channel 
                  to a basin thought to make ease for the King’s libations.<sup>5</sup>
                </p>

                <p class="LineIndent">
                  The archives are where scribes documented a one-year cycle of trade and tax in the Messenia region on Linear B tablets and bronze 
                  seals. To access the archives, rooms 7 and 8, one would have been a scribe, royalist, or noble considering the security barriers 
                  at the front of the palace. Here, trade and tax was documented on Linear B Tablets and bronze seals, written or stamped by one of 
                  the 26 known scribes at Pylos. One of these tablets left behind explains that workers were paid with figs or grains for services. 
                  Another tablet describes the kingdom as divided into districts all taxed by 6 or so categories from live stock to textile.
                  <sup>6</sup> The many seals that remain on the floors of the archives are the records of transactions from one merchant to another. 
                  According to Kevin M. Pluta, who wrote the archeological masters dissertation, The Sealings in the Archives Complex at Pylos, the 
                  concept of using seals to document these actions of trade can also be found at Knossos and other Mycenaean cities. The seals often 
                  had the representation of man, man vs. man, man vs. beast, or an animal. All seals are unique to their respected owners of trade 
                  or government. These seals are either coins of bronze or gold, or stamps on parchment via a ring.<sup>7</sup>
                </p>

                <p class="LineIndent">
                  Toward the right of palace is a ceremonial courtyard with an aqueduct and bathhouse. The ceremonial courtyard (room 42) and bathhouse 
                  (room 43) are accessed through the right vestibule (room 38).
                </p>

                <p class="BlockIndent">
                    <!---
                  <div class="HangLineIndent">
                    5. Blegen, 12-14.
                  </div>
                  <div class="HangLineIndent">
                    6. Ibid., 48-50.
                  </div>
                  <div class="HangLineIndent">
                    7. Kevin M. Pluta, The Sealings in the Archives Complex at Pylos (Austin, TX: University of Texas at Austin, General Libraries, 
                    2000), 15-59.
                  </div>
                  --->
                </p>

                <p>
                  Also accessible from this vestibule are rooms 39 and 40, which are thought to be a dump site or water reservoir since many clay pots 
                  remain, thus, alluring to Blegen’s idea that this area is for religion versus just another residential quarter. An additional thought 
                  to this idea of a ceremonial courtyard is that this place is segregated off from the rest of the palace and next door is another 
                  private courtyard. There are also special considerations that have been taken towards this particular courtyard. Here there is a 
                  U-shape aqueduct connecting to the Rouvelli Springs nearby. This aqueduct once filled pots that seem to have been used in ritual 
                  gatherings because also connected to the aqueduct are broken up terracotta pipes, which one runs through and into the bathhouse. 
                  This bathhouse has a tub which may of been used more for ritualistic cleansing than for hygiene.<sup>8</sup> Who knows really.
                </p>

                <p class="LineIndent">
                  Lastly, the storages around the megaron held a great reserve of wines, olive oils, perfumes, dishes, and drinking cups. Rooms 104 
                  and 105 is where wine was made and stored. Rooms 23, 24, and 27 held olive oil. Rooms 30-34 is where perfume was created and preserved. 
                  These stocks of goods were traded and used within the palace. Whereas, rooms 19 and 20 stored 2,853 drinking cups and 6,000 vases 
                  varying of 23 different shapes for ceremonial usage.<sup>9</sup>
                </p>

                <p class="LineIndent">
                  Experiencing the Palace of Nestor takes the imagination of placing oneself in the perspective of a noble reaching the throne room. 
                  Starting from the gateway, one would see through a portico an agora (room 58) encapsulated by the Palace of Nestor and the Workshops. 
                  Here at the agora, merchants from across the Messenia region would barter goods to one another and to those of nobility.<sup>10</sup>
                </p>

                <p class="BlockIndent">
                    <!-----
                  <div class="HangLineIndent">
                    8. Blegen, 19, 20, and 36.
                  </div>
                  <div class="HangLineIndent">
                    9. Ibid., 17-8.
                  </div>
                    --->
                </p>

                <p>
                  As one walks on the stucco ground in the north direction towards the palace, two sentry guards flank a two story propylon entrance 
                  over watched above by a balcony. For a noble this sense of security is a must, but for anyone else the Palace of Nestor would be 
                  quite intimidating.
                </p>

                <p class="LineIndent">
                  After confirmation from the guards, one would enter the confines of the palace. The main courtyard would be busy with royalists and 
                  nobles a like from which one can easily be well received. Towards the left is an entry way that leads into the left wing and to the 
                  wine tasting room (rooms 9-10) where the finest wines are served in clay cups. After being aquatinted and served, one would walk 
                  towards the grand portico supported by two 64-fluted columns of plaster capped with Minoan stylized capitals. Above the grand portico 
                  is a balcony well decorated in frescos of various patterns much like the rest of the palace surroundings. As one makes way through 
                  the grand portico and sentry guard, a short waiting period with nobles and sentries would ensue inside the grand vestibule.<sup>11</sup>
                </p>

                <p class="LineIndent">
                  Finally, after the short wait in the grand vestibule, one would be invited by two sentries flanking the doors to the magnificent throne 
                  room. As the two wooden doors push forward into the throne room, one experiences overwhelming grandeur of tiled floors, a great hearth, 
                  fresco painted walls with murals, coffered ceilings, and the presence of the King.<sup>12</sup> 
                </p>

                <p class="BlockIndent">
                    <!----
                  <div class="HangLineIndent">
                    10. Ulrich Thaler, Constructing Power - Architecture, Ideology and Social Practice: Constructing and Reconstructing Power: The 
                    Palace of Pylos (Munster, Germany: Academia, 2006).
                  </div>
                  <div class="HangLineIndent">
                    11. Blegen, 9-14.
                  </div>
                  <div class="HangLineIndent">
                    12. Thomas G. Palaima, and James C. Wright. "Ins and Outs of the Archives Rooms at Pylos: Form and Function in a Mycenaean Palace," 
                    American Journal of Archaeology (1985), 251-62.
                  </div>
                  --->
                </p>

                <p>
                  The floors are gridded and further subdivided with vividly painted tiles. In the middle is a raised circular ceremonial hearth made of 
                  clay coated with stucco. Surrounding the hearth are four highly decorated wooden and stucco columns. The fumes from the fire within the 
                  hearth rise into the second floor overlook and out through two terracotta pipes above. The ceilings are coffered with tile inlays of 
                  various colors. The fresco wall beyond the hearth depicts the sacrifice of a bull for a banquet of men and women. Toward the right of 
                  the room, above the throne is a wall with a fresco of a bird and a lyre player.<sup>13</sup> Below this mural sat King Nestor where one 
                  could speak of business in front of him. It is said that King Nestor aided in the raid of Troy with 90 vessels alongside the 100 vessels 
                  of Agamemnon.<sup>14</sup> King Nestor’s power and wealth can be seen in his finely crafted throne of wood and ivory inset. Beside the 
                  throne is a basin well for the King to shed blood to the Gods.<sup>13</sup> This is the noble’s experience of approaching the throne room 
                  from the gateway of Pylos.
                </p>

                <p class="LineIndent">
                  It is evident that the Mycenaean people at Pylos were a culture very advanced in architecture, especially with the Palace of Nestor as a 
                  defensive structure that secures the various functional rooms which carried out government, trade, and religion while presenting an 
                  experience of grandeur. The Palace of Nestor at Pylos which is perched on a hill much like an acropolis was no doubt an important site 
                  within the Messenia region because the ruler and stocks of tradeable goods are kept here. Thus, the remnants of the Palace of Nestor show 
                  that the Mycenaean people spared the most expense to fortifying this palace and surroundings with thick stone walls reinforced with timber.
                </p>

                <p class="BlockIndent">
                    <!-----
                  <div class="HangLineIndent">
                    13. Blegen, 9-14.
                  </div>
                  <div class="HangLineIndent">
                    14. Ibid., 40.
                  </div>
                  --->
                </p>

                <p class="LineIndent">
                  Inside the palace, rooms were designated for specific tasks of government, trade, and rituals. These rooms are also well organized 
                  in a linear plan that resembles much of a modern villa. For the most part, rooms for government or rituals were all highly decorated 
                  in the best materials possible to provide an experience of grandeur. While rooms related to trade featured innovations in drainage 
                  and shelving. All of this goes to show that people at Pylos were very much advanced in architecture for their time being.
                </p>

                <!---
                <img src=require("C:/Users/mitch/Desktop/portfolio/src/images/nestor-legend.png") alt='nestor-legend' width='50%' />
                <img src=require("C:/Users/mitch/Desktop/portfolio/src/images/nestor-site.png") alt='nestor-site' width='50%' />
                --->

                <div class="Hr"></div>

                <h3>
                  Bibliography
                </h3>

                <p class="ParagraphIndent">
                    <!----
                  <div class="HangLineIndent">
                    Bendall, Lisa M. The Encyclopedia of Ancient History: Pylos. Compiled by Roger S. Bagnall. Malden, MA: Wiley-Blackwell, 2013. 
                    Accessed February 23, 2016.
                  </div>
                  <br />
                  <div class="HangLineIndent">                  
                    Blegen, Carl W., Marion Rawson, Jack L. Davis, and Cynthia W. Shelmerdine. A Guide to the Palace of Nestor: Mycenaean Sites in 
                    its Environs and the Chora Museum. Princeton, NJ: American School of Classical Studies at Athens, 2001.
                  </div>
                  <br />
                  <div class="HangLineIndent">                  
                    Palaima, Thomas G., and James C. Wright. "Ins and Outs of the Archives Rooms at Pylos: Form and Function in a Mycenaean Palace." 
                    American Journal of Archaeology, 1985, 251-62. Accessed March 5, 2016. Bryn Mawr College Repository.
                  </div>
                  <br />
                  <div class="HangLineIndent">
                    Pluta, Kevin M. The Sealings in the Archives Complex at Pylos. M.A. diss., University of Texas at Austin, 2000. Austin: General 
                    Libraries, 2000.
                  </div>
                  <br />
                  <div class="HangLineIndent">                  
                    Thaler, Ulrich. Constructing Power - Architecture, Ideology and Social Practice: Constructing and Reconstructing Power: The 
                    Palace of Pylos. Munster, 2006. Accessed March 5, 2016. Academia.
                  </div>
                  <br />
                  <div class="HangLineIndent">
                    Thaler, Ulrich. Pylos Site Plan. Digital image. Academia. Accessed March 5, 2016.
                    &nbsp;
                    <a href="http://www.academia.edu/7507874/Constructing_and_Reconstructing_Power_The_palace_of_Pylos" target="_blank">
                      http://www.academia.edu/7507874/Constructing_and_Reconstructing_Power_The_palace_of_Pylos.
                    </a>
                    </div>
                  <br />
                  <div class="HangLineIndent">
                    Westerburg, Jorg. "A Different View." The Reconstruction of the Northeast Building at Pylos, 2000, 1-11. Accessed March 5, 2016. 
                    University of Heidelberg Archives.
                  </div>
                  --->
                </p>
            </div>
        </div>
    </div>
</div>
