<div class="container-fluid">
    <div class="row">
        <div class="col col-sm-4 m-0 p-0" style="background-color: gray">
            <div class="justify-content-center m-2 p-2" style="background-color: lightgray">
                <h1 class="text-center">Mitchell Marshe</h1>
                <h2 class="text-center">Software Engineer</h2>
            </div>

            <div class="justify-content-center m-2 p-2" style="background-color: lightgray">
                <h3 class="text-center"><u>Contact</u></h3>
                <p class="text-center">
                    Austin, Texas
                    <br>
                    512 – 966 – 5841
                    <br>
                    mitchellmarshe@gmail.com
                    <br>
                    mitchellmarshe.github.io/portfolio
                </p>
            </div>

            <div class="justify-content-center m-2 p-2" style="background-color: lightgray">
                <h3 class="text-center"><u>Web Development</u></h3>
                <p class="text-center">
                    Angular | CSS | HTML | Jasmine Mocha | MySQL | React
                </p>
            </div>

            <div class="justify-content-center m-2 p-2" style="background-color: lightgray">
                <h3 class="text-center"><u>Videogame Development</u></h3>
                <p class="text-center">
                    Blender | Bullet Physics | GIMP Ogre3D | Unity3D | 3ds Max
                </p>
            </div>

            <div class="justify-content-center m-2 p-2" style="background-color: lightgray">
                <h3 class="text-center"><u>Programming Languages</u></h3>
                <p class="text-center">
                    C | C# | C++ | Java | JavaScript Python | TypeScript
                </p>
            </div>

            <div class="justify-content-center m-2 p-2" style="background-color: lightgray">
                <h3 class="text-center"><u>Tools</u></h3>
                <p class="text-center">
                    Adobe
                    <br>
                    Suite
                    <br>
                    Autodesk
                    <br>
                    Suite
                    <br>
                    Docker
                    <br>
                    Git | GitHub
                    <br>
                    Microsoft Office
                </p>
            </div>

            <div class="justify-content-center m-2 p-2" style="background-color: lightgray">
                <h3 class="text-center"><u>Skills</u></h3>
                <p class="text-center">
                    Agile
                    <br>
                    Communication
                    <br>
                    Debugging
                    <br>
                    Extreme Programming
                    <br>
                    Scrum
                    <br>
                    Testing
                </p>
            </div>
        </div>

        <div class="col col-sm-8 m-0 p-0">
            <div class="p-2">
                <h4 style="background-color: gray">EMPLOYMENT</h4>

                <h5 style="background-color: lightgray">INTERN SOFTWARE ENGINEER, WELLSKY, AUSTIN, TEXAS MAY 2019 – AUG. 2019</h5>
                <p>
                    • Reduced SQL injection risks in the Home Health & Hospice (HH&H) application written in ColdFusion and Angular.
                    <br>
                    • Developed with a team, a SaaS/SRE dashboard to track jobs running on Jenkins. This application is written in Angular, leverages DevExpress, hosted on AWS, and presented on mobile, desktop, and TV monitors.
                </p>
   
                <h5 style="background-color: lightgray">SALES ASSOCIATE, ROSS STORES, GEORGETOWN, TEXAS OCT. 2013 – DEC. 2015</h5>
                <p>
                    • Cashier, provided full customer service, maintained store, assembled furniture, and did temporary management.
                    <br>
                    • Recognized for delivering great customer service, being a great team member, and driving sales contribution.
                    <br>
                    • Granted Employee of the Month for Sept. 2014.
                </p>
            </div>
            
            <div class="p-2">
                <h4 style="background-color: gray">PROJECTS</h4>

                <h5 style="background-color: lightgray">EXTRICATION – PC/MOBILE HORROR VIDEOGAME, 2019</h5>
                <p>
                    • Developed an action driven horror game in Unity3D with a small studio team.
                    <br>
                    • Programmed various mechanics and user controls in C#.
                    <br>
                    • Designed the general user interface.
                </p>

                <h5 style="background-color: lightgray">PHOTOGRAPHY SIMULATOR – GRAPHIC/GAME ENGINE, 2018</h5>
                <p>
                    • Developed a graphic/game engine in OpenGL3 with a colleague.
                    <br>
                    • Implemented Phong shading, raytracing, lighting, post processed visual effects, game object, component-based architecture, etc.
                    <br>
                    • Created a videogame demo that simulated photography camera lenses and their effects.
                </p>
   
                <h5 style="background-color: lightgray">GAMEFRAME.ONLINE – VIDEOGAME DATABASE, 2018</h5>
                <p>
                    • Developed the frontend with ReactJS, Bootstrap, and other tools.
                    <br>
                    • Created Mocha tests and documented code & design on Git.
                    <br>
                    • Lead my team for a phase.
                </p>

                <h5 style="background-color: lightgray">PINTOS – BASIC X64 UNIX OPERATING SYSTEM, 2017</h5>
                <p>
                    • Implemented virtual machine, multi-threading, scheduling, and various interfaces in C.
                    <br>
                    • Developed by pair programming in phases with different teams.
                </p>
            </div>

            <div class="p-2">
                <h4 style="background-color: gray">EDUCATION</h4>

                <h5 style="background-color: lightgray">UNIVERSITY OF TEXAS, AUSTIN, TEXAS, DEC. 2019</h5>
                <p>
                    Bachelor of Computer Science
                    <br>
                    Member of the National Society of Collegiate Scholars
                </p>
    
                <h5 style="background-color: lightgray">AUSTIN COMMUNITY COLLEGE, AUSTIN, TEXAS, MAY 2015</h5>
                <p>
                    Associate of General Education with Applied Sciences
                </p>
            </div>
        </div>
    </div> 
</div>

<div style="height: 30px; min-height: 30px; max-height: 30px"></div>
